## Final Project Python
## Project name: Smart Cairo Mobility - 2024/2025
 - Step 1: Data Loading...
 - libraries: pandas, numpy, matplotlib, and seaborn.
 - Loaded the dataset using pd.read_excel()
 - head() to understand the data structure and columns.
 - Step 2: Data Cleaning & Transformation...
 - Checked for missing values using df.isnull().sum() and handled them (filled or removed).
 - Step 3: Exploratory Data Analysis (EDA)...
 - Used df.describe() to understand basic statistics.
 - Step 4: Data Visualization
 - Created clear visualizations using matplotlib and seaborn
 - Project Summary "Smart Cairo Mobility is a data analytics project focused on optimizing Cairo’s urban transportation through integrated analysis of ride-hailing, driver, customer, fuel, and metro data. It applies advanced analytics to reveal mobility patterns, efficiency gaps, and sustainability trends. The project provides actionable insights for improving transport operations and forecasting demand. By linking private and public transport systems, it supports data-driven mobility planning. Its outcomes align with Egypt’s vision for smart and sustainable urban development."

In [121]:
# Import libraries..
import numpy as np
import pandas as pd

In [122]:
#Reading files
all = pd.read_excel(r'H:\DEPI - Data Analysis\Python\SmartCairo_Mobility_2024_2025.xlsx')
df_Trips = pd.read_excel(r'H:\DEPI - Data Analysis\Python\SmartCairo_Mobility_2024_2025.xlsx', sheet_name="Trips")
df_Customers = pd.read_excel(r'H:\DEPI - Data Analysis\Python\SmartCairo_Mobility_2024_2025.xlsx', sheet_name="Customers")
df_Drivers = pd.read_excel(r'H:\DEPI - Data Analysis\Python\SmartCairo_Mobility_2024_2025.xlsx', sheet_name="Drivers")
df_Metro_Ridership = pd.read_excel(r'H:\DEPI - Data Analysis\Python\SmartCairo_Mobility_2024_2025.xlsx', sheet_name="Metro_Ridership")
df_Fuel_Prices = pd.read_excel(r'H:\DEPI - Data Analysis\Python\SmartCairo_Mobility_2024_2025.xlsx', sheet_name="Fuel_Prices")

In [123]:
#Read the file
df_Trips

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time
0,1,103,40,New Cairo,Maadi,7.26,28,69.32,Card,2025-08-10 08:09:00
1,2,180,83,Zamalek,Zamalek,24.48,94,233.72,Wallet,2025-05-19 01:47:00
2,3,93,42,Zamalek,6th October,14.23,55,135.86,Card,2024-02-08 01:00:00
3,4,15,41,6th October,Zamalek,5.12,20,48.88,Wallet,2025-03-10 03:23:00
4,5,107,6,6th October,6th October,4.28,16,40.86,Cash,2025-01-20 13:01:00
...,...,...,...,...,...,...,...,...,...,...
995,996,111,88,Downtown,6th October,12.71,49,121.35,Card,2024-08-22 10:30:00
996,997,111,41,Zamalek,Nasr City,15.14,58,144.55,Card,2025-03-08 15:38:00
997,998,34,17,6th October,Heliopolis,8.99,34,85.83,Cash,2024-04-09 22:18:00
998,999,111,76,Maadi,Maadi,9.32,36,88.98,Card,2025-01-30 14:30:00
999,1000,8,46,Nasr City,Heliopolis,24.11,93,230.19,Cash,2025-04-07 17:42:00

In [124]:
#Read the files
all.keys()

Index(['trip_id', 'customer_id', 'driver_id', 'start_location', 'end_location',
       'distance_km', 'duration_min', 'fare_EGP', 'payment_method',
       'date_time'],
      dtype='object')

In [125]:
 # Merge trips and customers data using customer_id (inner join)
All = pd.merge(df_Trips,df_Customers,on='customer_id') #inner

In [126]:
#Read the file
All

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time,name,age,gender,city_area,signup_date
0,1,103,40,New Cairo,Maadi,7.26,28,69.32,Card,2025-08-10 08:09:00,Customer_103,61,Female,Downtown,2023-03-11
1,2,180,83,Zamalek,Zamalek,24.48,94,233.72,Wallet,2025-05-19 01:47:00,Customer_180,59,Male,Downtown,2022-02-22
2,3,93,42,Zamalek,6th October,14.23,55,135.86,Card,2024-02-08 01:00:00,Customer_93,55,Female,6th October,2022-11-23
3,4,15,41,6th October,Zamalek,5.12,20,48.88,Wallet,2025-03-10 03:23:00,Customer_15,46,Female,6th October,2023-05-07
4,5,107,6,6th October,6th October,4.28,16,40.86,Cash,2025-01-20 13:01:00,Customer_107,57,Male,Nasr City,2021-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,111,88,Downtown,6th October,12.71,49,121.35,Card,2024-08-22 10:30:00,Customer_111,51,Male,Nasr City,2022-04-27
996,997,111,41,Zamalek,Nasr City,15.14,58,144.55,Card,2025-03-08 15:38:00,Customer_111,51,Male,Nasr City,2022-04-27
997,998,34,17,6th October,Heliopolis,8.99,34,85.83,Cash,2024-04-09 22:18:00,Customer_34,38,Male,Heliopolis,2023-03-15
998,999,111,76,Maadi,Maadi,9.32,36,88.98,Card,2025-01-30 14:30:00,Customer_111,51,Male,Nasr City,2022-04-27
999,1000,8,46,Nasr City,Heliopolis,24.11,93,230.19,Cash,2025-04-07 17:42:00,Customer_8,55,Female,6th October,2022-08-21

In [127]:
# Merge drivers data with main dataset using driver_id (inner join)
All = pd.merge(All,df_Drivers,on='driver_id') #inner

In [128]:
#Read the files
All

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time,name_x,age,gender,city_area,signup_date,name_y,car_model,car_year,rating,join_date
0,1,103,40,New Cairo,Maadi,7.26,28,69.32,Card,2025-08-10 08:09:00,Customer_103,61,Female,Downtown,2023-03-11,Driver_40,Kia,2010,3.63,2020-04-18
1,2,180,83,Zamalek,Zamalek,24.48,94,233.72,Wallet,2025-05-19 01:47:00,Customer_180,59,Male,Downtown,2022-02-22,Driver_83,Chevrolet,2023,4.94,2022-09-12
2,3,93,42,Zamalek,6th October,14.23,55,135.86,Card,2024-02-08 01:00:00,Customer_93,55,Female,6th October,2022-11-23,Driver_42,Toyota,2012,4.17,2020-04-23
3,4,15,41,6th October,Zamalek,5.12,20,48.88,Wallet,2025-03-10 03:23:00,Customer_15,46,Female,6th October,2023-05-07,Driver_41,Hyundai,2020,3.50,2019-09-03
4,5,107,6,6th October,6th October,4.28,16,40.86,Cash,2025-01-20 13:01:00,Customer_107,57,Male,Nasr City,2021-05-11,Driver_6,Toyota,2011,3.94,2023-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,111,88,Downtown,6th October,12.71,49,121.35,Card,2024-08-22 10:30:00,Customer_111,51,Male,Nasr City,2022-04-27,Driver_88,Hyundai,2014,3.67,2020-11-30
996,997,111,41,Zamalek,Nasr City,15.14,58,144.55,Card,2025-03-08 15:38:00,Customer_111,51,Male,Nasr City,2022-04-27,Driver_41,Hyundai,2020,3.50,2019-09-03
997,998,34,17,6th October,Heliopolis,8.99,34,85.83,Cash,2024-04-09 22:18:00,Customer_34,38,Male,Heliopolis,2023-03-15,Driver_17,Toyota,2011,4.19,2023-11-20
998,999,111,76,Maadi,Maadi,9.32,36,88.98,Card,2025-01-30 14:30:00,Customer_111,51,Male,Nasr City,2022-04-27,Driver_76,Chevrolet,2016,4.33,2023-08-10
999,1000,8,46,Nasr City,Heliopolis,24.11,93,230.19,Cash,2025-04-07 17:42:00,Customer_8,55,Female,6th October,2022-08-21,Driver_46,Hyundai,2014,3.93,2020-02-29

In [129]:
# Display the first 5 rows of the dataset to preview the data
All.head()

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time,name_x,age,gender,city_area,signup_date,name_y,car_model,car_year,rating,join_date
0,1,103,40,New Cairo,Maadi,7.26,28,69.32,Card,2025-08-10 08:09:00,Customer_103,61,Female,Downtown,2023-03-11,Driver_40,Kia,2010,3.63,2020-04-18
1,2,180,83,Zamalek,Zamalek,24.48,94,233.72,Wallet,2025-05-19 01:47:00,Customer_180,59,Male,Downtown,2022-02-22,Driver_83,Chevrolet,2023,4.94,2022-09-12
2,3,93,42,Zamalek,6th October,14.23,55,135.86,Card,2024-02-08 01:00:00,Customer_93,55,Female,6th October,2022-11-23,Driver_42,Toyota,2012,4.17,2020-04-23
3,4,15,41,6th October,Zamalek,5.12,20,48.88,Wallet,2025-03-10 03:23:00,Customer_15,46,Female,6th October,2023-05-07,Driver_41,Hyundai,2020,3.50,2019-09-03
4,5,107,6,6th October,6th October,4.28,16,40.86,Cash,2025-01-20 13:01:00,Customer_107,57,Male,Nasr City,2021-05-11,Driver_6,Toyota,2011,3.94,2023-01-11

In [130]:
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   trip_id         1000 non-null   int64
 1   customer_id     1000 non-null   int64
 2   driver_id       1000 non-null   int64
 3   start_location  1000 non-null   object
 4   end_location    1000 non-null   object
 5   distance_km     1000 non-null   float64
 6   duration_min    1000 non-null   int64
 7   fare_EGP        1000 non-null   float64
 8   payment_method  1000 non-null   object
 9   date_time       1000 non-null   datetime64[ns]
 10  name_x          1000 non-null   object
 11  age             1000 non-null   int64
 12  gender          1000 non-null   object
 13  city_area       1000 non-null   object
 14  signup_date     1000 non-null   datetime64[ns]
 15  name_y          1000 non-null   object
 16  car_model       1000 non-null   object
 17  car_year        1000 non-null   int64
 18  rating          1000 non-null   float64
 19  join_date       1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(3), int64(6), object(8)
memory usage: 156.4+ KB

In [131]:
 # Convert date_time columns to datetime type for time-based operations
All['date_time'] = pd.to_datetime(All['date_time'])
df_Fuel_Prices['date_time'] = pd.to_datetime(df_Fuel_Prices['date_time'])

In [132]:
# Extract the first day of each month from the date_time column
All['month_start'] = All['date_time'].dt.to_period('M').dt.to_timestamp()
All['month_start']

0     2025-08-01
1     2025-05-01
2     2024-02-01
3     2025-03-01
4     2025-01-01
         ...
995   2024-08-01
996   2025-03-01
997   2024-04-01
998   2025-01-01
999   2025-04-01
Name: month_start, Length: 1000, dtype: datetime64[ns]

In [133]:
# Merge fuel prices with main data based on month start
All = pd.merge(All, df_Fuel_Prices, left_on='month_start', right_on='date_time', how='left')
All

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time_x,...,name_y,car_model,car_year,rating,join_date,month_start,date_time_y,octane92_price,octane95_price,diesel_price
0,1,103,40,New Cairo,Maadi,7.26,28,69.32,Card,2025-08-10 08:09:00,...,Driver_40,Kia,2010,3.63,2020-04-18,2025-08-01,2025-08-01,17.25,19.0,15.75
1,2,180,83,Zamalek,Zamalek,24.48,94,233.72,Wallet,2025-05-19 01:47:00,...,Driver_83,Chevrolet,2023,4.94,2022-09-12,2025-05-01,2025-05-01,17.25,19.0,15.75
2,3,93,42,Zamalek,6th October,14.23,55,135.86,Card,2024-02-08 01:00:00,...,Driver_42,Toyota,2012,4.17,2020-04-23,2024-02-01,2024-02-01,11.50,12.5,10.00
3,4,15,41,6th October,Zamalek,5.12,20,48.88,Wallet,2025-03-10 03:23:00,...,Driver_41,Hyundai,2020,3.50,2019-09-03,2025-03-01,2025-03-01,15.25,17.0,13.75
4,5,107,6,6th October,6th October,4.28,16,40.86,Cash,2025-01-20 13:01:00,...,Driver_6,Toyota,2011,3.94,2023-01-11,2025-01-01,2025-01-01,15.25,17.0,13.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,111,88,Downtown,6th October,12.71,49,121.35,Card,2024-08-22 10:30:00,...,Driver_88,Hyundai,2014,3.67,2020-11-30,2024-08-01,2024-08-01,13.75,15.0,12.25
996,997,111,41,Zamalek,Nasr City,15.14,58,144.55,Card,2025-03-08 15:38:00,...,Driver_41,Hyundai,2020,3.50,2019-09-03,2025-03-01,2025-03-01,15.25,17.0,13.75
997,998,34,17,6th October,Heliopolis,8.99,34,85.83,Cash,2024-04-09 22:18:00,...,Driver_17,Toyota,2011,4.19,2023-11-20,2024-04-01,2024-04-01,12.50,13.5,11.00
998,999,111,76,Maadi,Maadi,9.32,36,88.98,Card,2025-01-30 14:30:00,...,Driver_76,Chevrolet,2016,4.33,2023-08-10,2025-01-01,2025-01-01,15.25,17.0,13.75
999,1000,8,46,Nasr City,Heliopolis,24.11,93,230.19,Cash,2025-04-07 17:42:00,...,Driver_46,Hyundai,2014,3.93,2020-02-29,2025-04-01,2025-04-01,17.25,19.0,15.75

In [134]:
# Remove duplicate column and rename main column back to date_time
All = All.drop(columns=['date_time_y'])
All = All.rename(columns={'date_time_x': 'date_time'})

In [135]:
All

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time,...,signup_date,name_y,car_model,car_year,rating,join_date,month_start,octane92_price,octane95_price,diesel_price
0,1,103,40,New Cairo,Maadi,7.26,28,69.32,Card,2025-08-10 08:09:00,...,2023-03-11,Driver_40,Kia,2010,3.63,2020-04-18,2025-08-01,17.25,19.0,15.75
1,2,180,83,Zamalek,Zamalek,24.48,94,233.72,Wallet,2025-05-19 01:47:00,...,2022-02-22,Driver_83,Chevrolet,2023,4.94,2022-09-12,2025-05-01,17.25,19.0,15.75
2,3,93,42,Zamalek,6th October,14.23,55,135.86,Card,2024-02-08 01:00:00,...,2022-11-23,Driver_42,Toyota,2012,4.17,2020-04-23,2024-02-01,11.50,12.5,10.00
3,4,15,41,6th October,Zamalek,5.12,20,48.88,Wallet,2025-03-10 03:23:00,...,2023-05-07,Driver_41,Hyundai,2020,3.50,2019-09-03,2025-03-01,15.25,17.0,13.75
4,5,107,6,6th October,6th October,4.28,16,40.86,Cash,2025-01-20 13:01:00,...,2021-05-11,Driver_6,Toyota,2011,3.94,2023-01-11,2025-01-01,15.25,17.0,13.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,111,88,Downtown,6th October,12.71,49,121.35,Card,2024-08-22 10:30:00,...,2022-04-27,Driver_88,Hyundai,2014,3.67,2020-11-30,2024-08-01,13.75,15.0,12.25
996,997,111,41,Zamalek,Nasr City,15.14,58,144.55,Card,2025-03-08 15:38:00,...,2022-04-27,Driver_41,Hyundai,2020,3.50,2019-09-03,2025-03-01,15.25,17.0,13.75
997,998,34,17,6th October,Heliopolis,8.99,34,85.83,Cash,2024-04-09 22:18:00,...,2023-03-15,Driver_17,Toyota,2011,4.19,2023-11-20,2024-04-01,12.50,13.5,11.00
998,999,111,76,Maadi,Maadi,9.32,36,88.98,Card,2025-01-30 14:30:00,...,2022-04-27,Driver_76,Chevrolet,2016,4.33,2023-08-10,2025-01-01,15.25,17.0,13.75
999,1000,8,46,Nasr City,Heliopolis,24.11,93,230.19,Cash,2025-04-07 17:42:00,...,2022-08-21,Driver_46,Hyundai,2014,3.93,2020-02-29,2025-04-01,17.25,19.0,15.75

In [136]:
# Save the final dataset to an Excel file without the index
# All.to_excel(r"H:\DEPI - Data Analysis\Python\Final_Project_Python.xlsx", index=False)

In [137]:
#shape is a property that tells you the dimensions (size) of a DataFrame or Series.
All.shape

(1000, 24)

In [138]:
#Frist 5 Rows
All.head()

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time,...,signup_date,name_y,car_model,car_year,rating,join_date,month_start,octane92_price,octane95_price,diesel_price
0,1,103,40,New Cairo,Maadi,7.26,28,69.32,Card,2025-08-10 08:09:00,...,2023-03-11,Driver_40,Kia,2010,3.63,2020-04-18,2025-08-01,17.25,19.0,15.75
1,2,180,83,Zamalek,Zamalek,24.48,94,233.72,Wallet,2025-05-19 01:47:00,...,2022-02-22,Driver_83,Chevrolet,2023,4.94,2022-09-12,2025-05-01,17.25,19.0,15.75
2,3,93,42,Zamalek,6th October,14.23,55,135.86,Card,2024-02-08 01:00:00,...,2022-11-23,Driver_42,Toyota,2012,4.17,2020-04-23,2024-02-01,11.50,12.5,10.00
3,4,15,41,6th October,Zamalek,5.12,20,48.88,Wallet,2025-03-10 03:23:00,...,2023-05-07,Driver_41,Hyundai,2020,3.50,2019-09-03,2025-03-01,15.25,17.0,13.75
4,5,107,6,6th October,6th October,4.28,16,40.86,Cash,2025-01-20 13:01:00,...,2021-05-11,Driver_6,Toyota,2011,3.94,2023-01-11,2025-01-01,15.25,17.0,13.75

In [139]:
#Column names
All.columns

Index(['trip_id', 'customer_id', 'driver_id', 'start_location', 'end_location',
       'distance_km', 'duration_min', 'fare_EGP', 'payment_method',
       'date_time', 'name_x', 'age', 'gender', 'city_area', 'signup_date',
       'name_y', 'car_model', 'car_year', 'rating', 'join_date', 'month_start',
       'octane92_price', 'octane95_price', 'diesel_price'],
      dtype='object')

In [140]:
#Bottom 5 Row
All.tail()

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time,...,signup_date,name_y,car_model,car_year,rating,join_date,month_start,octane92_price,octane95_price,diesel_price
995,996,111,88,Downtown,6th October,12.71,49,121.35,Card,2024-08-22 10:30:00,...,2022-04-27,Driver_88,Hyundai,2014,3.67,2020-11-30,2024-08-01,13.75,15.0,12.25
996,997,111,41,Zamalek,Nasr City,15.14,58,144.55,Card,2025-03-08 15:38:00,...,2022-04-27,Driver_41,Hyundai,2020,3.50,2019-09-03,2025-03-01,15.25,17.0,13.75
997,998,34,17,6th October,Heliopolis,8.99,34,85.83,Cash,2024-04-09 22:18:00,...,2023-03-15,Driver_17,Toyota,2011,4.19,2023-11-20,2024-04-01,12.50,13.5,11.00
998,999,111,76,Maadi,Maadi,9.32,36,88.98,Card,2025-01-30 14:30:00,...,2022-04-27,Driver_76,Chevrolet,2016,4.33,2023-08-10,2025-01-01,15.25,17.0,13.75
999,1000,8,46,Nasr City,Heliopolis,24.11,93,230.19,Cash,2025-04-07 17:42:00,...,2022-08-21,Driver_46,Hyundai,2014,3.93,2020-02-29,2025-04-01,17.25,19.0,15.75

In [141]:
#In Pandas, the .describe() function is used to generate summary statistics for your data, especially for numerical columns.
All.describe().T

,count,mean,min,25%,50%,75%,max,std
trip_id,1000.0,500.5,1.0,250.75,500.5,750.25,1000.0,288.819436
customer_id,1000.0,101.697,1.0,51.75,104.0,150.25,200.0,57.629249
driver_id,1000.0,50.028,1.0,25.0,49.0,75.0,100.0,29.110249
distance_km,1000.0,13.90547,2.01,8.4,14.22,19.5325,24.99,6.532331
duration_min,1000.0,53.354,8.0,32.0,55.0,75.0,96.0,25.071763
fare_EGP,1000.0,132.76304,19.19,80.2,135.765,186.485,238.59,62.367649
date_time,1000,2024-10-30 07:53:50.580000,2024-01-01 01:14:00,2024-05-29 17:53:30,2024-11-03 16:35:00,2025-03-28 23:29:00,2025-08-22 19:08:00,NaN
age,1000.0,41.857,18.0,31.0,41.0,54.0,64.0,13.059598
signup_date,1000,2022-07-26 21:53:16.800000,2021-04-10 00:00:00,2021-12-13 00:00:00,2022-07-16 00:00:00,2023-02-17 18:00:00,2023-12-27 00:00:00,NaN
car_year,1000.0,2016.158,2010.0,2012.0,2016.0,2019.0,2023.0,4.223372
rating,1000.0,4.20621,3.5,3.85,4.14,4.66,5.0,0.44929
join_date,1000,2020-11-16 18:31:40.800000,2018-07-12 00:00:00,2019-09-17 00:00:00,2020-10-12 00:00:00,2021-12-21 06:00:00,2024-01-01 00:00:00,NaN
month_start,1000,2024-10-15 17:11:02.400000,2024-01-01 00:00:00,2024-05-01 00:00:00,2024-11-01 00:00:00,2025-03-01 00:00:00,2025-08-01 00:00:00,NaN
octane92_price,1000.0,14.6025,11.5,12.5,15.25,15.25,17.25,1.940105
octane95_price,1000.0,16.053,12.5,13.5,17.0,17.0,19.0,2.256387
diesel_price,1000.0,13.1025,10.0,11.0,13.75,13.75,15.75,1.940105

In [142]:
# Display the data type of each column in the dataset
All.dtypes

trip_id                    int64
customer_id                int64
driver_id                  int64
start_location            object
end_location              object
distance_km              float64
duration_min               int64
fare_EGP                 float64
payment_method            object
date_time         datetime64[ns]
name_x                    object
age                        int64
gender                    object
city_area                 object
signup_date       datetime64[ns]
name_y                    object
car_model                 object
car_year                   int64
rating                   float64
join_date         datetime64[ns]
month_start       datetime64[ns]
octane92_price           float64
octane95_price           float64
diesel_price             float64
dtype: object

## Data cleaning & Transformation

In [143]:
 # Display all unique values in the start_location column to see different starting points
All['start_location'].unique()

array(['New Cairo', 'Zamalek', '6th October', 'Nasr City', 'Maadi',
       'Heliopolis', 'Downtown'], dtype=object)

In [144]:
 # Display all unique values in the payment_method column to see different starting points
All['payment_method'].unique()

array(['Card', 'Wallet', 'Cash'], dtype=object)

In [145]:
# Display all unique values in the payment_method column to see different starting points
All['car_model'].unique()

array(['Kia', 'Chevrolet', 'Toyota', 'Hyundai', 'Nissan'], dtype=object)

In [146]:
# Display a summary of the dataset: columns, data types, and non-null counts
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   trip_id         1000 non-null   int64
 1   customer_id     1000 non-null   int64
 2   driver_id       1000 non-null   int64
 3   start_location  1000 non-null   object
 4   end_location    1000 non-null   object
 5   distance_km     1000 non-null   float64
 6   duration_min    1000 non-null   int64
 7   fare_EGP        1000 non-null   float64
 8   payment_method  1000 non-null   object
 9   date_time       1000 non-null   datetime64[ns]
 10  name_x          1000 non-null   object
 11  age             1000 non-null   int64
 12  gender          1000 non-null   object
 13  city_area       1000 non-null   object
 14  signup_date     1000 non-null   datetime64[ns]
 15  name_y          1000 non-null   object
 16  car_model       1000 non-null   object
 17  car_year        1000 non-null   int64
 18  rating          1000 non-null   float64
 19  join_date       1000 non-null   datetime64[ns]
 20  month_start     1000 non-null   datetime64[ns]
 21  octane92_price  1000 non-null   float64
 22  octane95_price  1000 non-null   float64
 23  diesel_price    1000 non-null   float64
dtypes: datetime64[ns](4), float64(6), int64(6), object(8)
memory usage: 187.6+ KB

In [147]:
# Show the data type of each column in the dataset..
All.dtypes

trip_id                    int64
customer_id                int64
driver_id                  int64
start_location            object
end_location              object
distance_km              float64
duration_min               int64
fare_EGP                 float64
payment_method            object
date_time         datetime64[ns]
name_x                    object
age                        int64
gender                    object
city_area                 object
signup_date       datetime64[ns]
name_y                    object
car_model                 object
car_year                   int64
rating                   float64
join_date         datetime64[ns]
month_start       datetime64[ns]
octane92_price           float64
octane95_price           float64
diesel_price             float64
dtype: object

In [148]:
 # Extract year, month, and day from the date_time column and add them as new columns
All['Year'] = all['date_time'].dt.year
All['Month'] = all['date_time'].dt.month
All['Day'] = all['date_time'].dt.day

In [149]:
All

,trip_id,customer_id,driver_id,start_location,end_location,distance_km,duration_min,fare_EGP,payment_method,date_time,...,car_year,rating,join_date,month_start,octane92_price,octane95_price,diesel_price,Year,Month,Day
0,1,103,40,New Cairo,Maadi,7.26,28,69.32,Card,2025-08-10 08:09:00,...,2010,3.63,2020-04-18,2025-08-01,17.25,19.0,15.75,2025,8,10
1,2,180,83,Zamalek,Zamalek,24.48,94,233.72,Wallet,2025-05-19 01:47:00,...,2023,4.94,2022-09-12,2025-05-01,17.25,19.0,15.75,2025,5,19
2,3,93,42,Zamalek,6th October,14.23,55,135.86,Card,2024-02-08 01:00:00,...,2012,4.17,2020-04-23,2024-02-01,11.50,12.5,10.00,2024,2,8
3,4,15,41,6th October,Zamalek,5.12,20,48.88,Wallet,2025-03-10 03:23:00,...,2020,3.50,2019-09-03,2025-03-01,15.25,17.0,13.75,2025,3,10
4,5,107,6,6th October,6th October,4.28,16,40.86,Cash,2025-01-20 13:01:00,...,2011,3.94,2023-01-11,2025-01-01,15.25,17.0,13.75,2025,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,111,88,Downtown,6th October,12.71,49,121.35,Card,2024-08-22 10:30:00,...,2014,3.67,2020-11-30,2024-08-01,13.75,15.0,12.25,2024,8,22
996,997,111,41,Zamalek,Nasr City,15.14,58,144.55,Card,2025-03-08 15:38:00,...,2020,3.50,2019-09-03,2025-03-01,15.25,17.0,13.75,2025,3,8
997,998,34,17,6th October,Heliopolis,8.99,34,85.83,Cash,2024-04-09 22:18:00,...,2011,4.19,2023-11-20,2024-04-01,12.50,13.5,11.00,2024,4,9
998,999,111,76,Maadi,Maadi,9.32,36,88.98,Card,2025-01-30 14:30:00,...,2016,4.33,2023-08-10,2025-01-01,15.25,17.0,13.75,2025,1,30
999,1000,8,46,Nasr City,Heliopolis,24.11,93,230.19,Cash,2025-04-07 17:42:00,...,2014,3.93,2020-02-29,2025-04-01,17.25,19.0,15.75,2025,4,7

In [150]:
#check Duplicates
all.isna().sum()

trip_id           0
customer_id       0
driver_id         0
start_location    0
end_location      0
distance_km       0
duration_min      0
fare_EGP          0
payment_method    0
date_time         0
dtype: int64

 - No duplicates or null values